@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #c8d6e5;
  /* height: 100vh; */
  font-family: "Roboto", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: 44px;
  height: 44px;
  font-size: 30px;
}

/* 
  Header style
*/
.header {
  position: relative;
  display: flex;
  color: red;
  z-index: 1;
  height: 1200px;
  font-size: 100px;
  justify-content: space-around;
  align-items: flex-end;
}

.header .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.4;
  /* background: linear-gradient(0, 0, 0) */
  width: 100%;
  z-index: -1;
}

/* 
  field style
*/
.meterials {
  display: grid;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  height: 600px;
}

.meterials .field {
  position: relative;
  z-index: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.meterials .field:nth-child(1)::after {
  content: "";
  position: absolute;
  background-image: url(../images/arduanatt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.4;
}

.meterials .field:nth-child(2)::after {
  content: "";
  position: absolute;
  background-image: url(../images/dine.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.4;
}

.meterials .field:nth-child(3)::after {
  content: "";
  position: absolute;
  background-image: url(../images/doom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.4;
}

.meterials .field .container {
  width: 300px;
  margin-bottom: 30px;
}

.meterials .field .result {
  width: 100%;
  font-size: 15px;
}

.meterials .field .container .title {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
}

.meterials .field .container .counter {
  display: flex;
  justify-content: center;
}

.meterials .field .container img {
  margin-right: 20px;
}
